#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(173, 206, 135);
  width: 40%;
  border-radius: 20px;
}

img {
  width: 300px;
  display: block;
  margin: auto;
  padding: 30px;
}
